<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.dantin.cubic.room.repository.RoomMapper">
  <sql id="BASE_TABLE">
        t_room
    </sql>

  <sql id="BASE_COLUMNS">
        id, name, create_at
    </sql>

  <resultMap id="roomMap" type="com.github.dantin.cubic.room.entity.model.Room">
    <id property="id" column="id" javaType="java.lang.String" jdbcType="VARCHAR"/>
    <result property="name" column="name" javaType="java.lang.String" jdbcType="VARCHAR"/>
    <result property="createAt" column="create_at" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
  </resultMap>

  <select id="list" resultMap="roomMap">
    SELECT
    <include refid="BASE_COLUMNS"/>
    FROM
    <include refid="BASE_TABLE"/>
    ORDER BY id ASC
  </select>

  <select id="findByRoomId" resultMap="roomMap">
    SELECT
    <include refid="BASE_COLUMNS"/>
    FROM
    <include refid="BASE_TABLE"/>
    WHERE
    id = #{room_id}
  </select>
</mapper>
